body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2d2f34;
    color: white;
}

h1 {
    margin: 40px auto -10px;
    text-align: center;
    border-bottom: 4px solid #ffffff;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    padding: 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 0px ;
    background-color: black ;
    padding: 10px 0 
}

.nav-button {
    background-color: #1d1f23;
    border: 2px solid #0073e6;
    color: white;
    padding: 20px 20px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.nav-active-button { 
    background-color: #1d1f23;
    border: 2px solid #00c8ff;
    color: white;
    padding: 20px 20px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.nav-button:hover {
    background-color: #0073e6;
}

.description {
    background-color: #0073e6;
    margin: 50px 50px;
    width: 33vw;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }

    .description {
        width: 56vw;
        margin: 20px 0;
    }
}