body {
    background-color: #323A45;
}

.container {
    text-align: center;
    padding: 20px;
}
.navigation {
    display: flex;
    justify-content: center;
    gap: 0px;
    background-color: black;
    padding: 10px 0;
}
.nav-button {
    background-color: #1d1f23;
    border: 2px solid #0073e6;
    color: white;
    padding: 20px 20px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.nav-active-button { 
    background-color: #1d1f23;
    border: 2px solid #00c8ff;
    color: white;
    padding: 20px 20px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.nav-button:hover {
    background-color: #0073e6;
}
ul {
    list-style-type: none;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.info h2, h5, p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.leftInfo h2 {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #105BD8;
}

.leftInfo h5 {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #02BFE7;
}

.leftInfo p {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #061F4A;
}

.randButton {
    background-color: #02BFE7;
    color:#FFFF;
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}

.randButton:hover {
    background-color: #DD361C;
}

.surveyForm p, form {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFFFFF;
}

@media screen {
    
}