body {
    background-color: #323A45;
}

.navBar {
    background-color: #212121;
}

ul {
    list-style-type: none;
}

h1 {
    color: #FFFFFF;
}

.leftInfo h2 {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #105BD8;
}

.leftInfo h5 {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #02BFE7;
}

.leftInfo p {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #061F4A;
}

.randButton {
    background-color: #02BFE7;
    color:#FFFF;
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}

.randButton:hover {
    background-color: #DD361C;
}

.surveyForm p, form {
    color:#FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFFFFF;
}
